@font-face {
  font-family: "iconfont"; /* Project id 3888709 */
  src: url('iconfont.woff2?t=1678978408736') format('woff2'),
       url('iconfont.woff?t=1678978408736') format('woff'),
       url('iconfont.ttf?t=1678978408736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e6b6";
}

.icon-file-upload:before {
  content: "\e889";
}

.icon-close:before {
  content: "\e618";
}

.icon-open:before {
  content: "\e7ee";
}

.icon-blog:before {
  content: "\e656";
}

.icon-setting:before {
  content: "\e660";
}

.icon-delete:before {
  content: "\e7ed";
}

.icon-zhuanti:before {
  content: "\e6c9";
}

.icon-password:before {
  content: "\e65d";
}

.icon-account:before {
  content: "\e609";
}

